.container00{
    &.container05{
        background-image: url(../../../imagens/falcon9/01.jpg);
    }
    &.container06 {
        background-image: url(../../../imagens/falcon9/02.jpg);
      }
    &.carrossel01{
        background-image: url(../../../imagens/falcon9/03.jpg);
    }
    &.carrossel02{
        background-image: url(../../../imagens/falcon9/04.jpg);
    }
    &.carrossel03{
        background-image: url(../../../imagens/falcon9/05.jpg);
    }
    &.carrossel04{
        background-image: url(../../../imagens/falcon9/06.jpg);
    }
    &.carrossel05{
        background-image: url(../../../imagens/falcon9/07.jpg);
    }
}