@charset "UTF-8";

:root {
    --hover-links: #b9b9b9;
    --copy: #555252;
    --item-da-tabela: #d8d8d8;
  }

body{
    background-color: black;
}

a{
    color: var(--item-da-tabela);
    text-decoration: none;
    font-size: 13px;
    margin-left: 14px;
}

a:hover{
    transition: 0.5s;
    color: var(--hover-links);
}


img{
    max-width: 100vw;
}
